<label for="category">Category:</label>
  <select id="category" class="inputFields" name="category">
      <option value="">Select Category</option>
      {{#each categoryOptions}}
      <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
      {{/each}}
  </select>